<div class="row">
    <div class="col-md-12">
        <app-card [title]="'Group List'" [cardClass]="" [classHeader]="true">
            <span class="code-header"><span class="text-muted"></span></span>
            <div style="max-width:100%;height:400px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-secondary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Assignee
                            </th>
                            <th>
                                Suspended
                            </th>
                            <th>
                                Created on
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of dataTable">
                                <td>
                                    {{task.id}}
                                </td>
                                <td>
                                    {{task.name}}
                                </td>
                                <td>
                                    {{task.assignee}}
                                </td>
                                <td>
                                    {{task.suspended}}
                                </td>
                                <td>
                                    {{task.created}}
                                </td>
                                <td>
                                    <button (click)="setAssignee(task.id)" class="btn btn-raised btn-sm btn-info"
                                        style="margin:3px;">Set Assignee</button>
                                    <button (click)="completeTask(task.id)" class="btn btn-raised btn-sm btn-success"
                                        style="margin:3px;">Complete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
    </div>
</div>