<div class="row">
    <div class="col-md-12">
        <app-card [title]="'Add an SPM'" [cardClass]="" [classHeader]="true">
            <span class="code-header"><span class="text-muted"></span></span>
            <div style="max-width:100%;height:400px;">
                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <label for="exampleInputEmail1">id</label>
                                        <input matInput placeholder="id" id="id" formControlName="id" class="form-control"> 
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <label for="exampleInputEmail1">First Name</label>
                                        <input matInput placeholder="First Name" id="firstName"
                                            formControlName="firstName" class="form-control">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        <input matInput placeholder="Last Name" id="lastName"
                                            formControlName="lastName" class="form-control">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input matInput placeholder="Email address" id="email" formControlName="email" class="form-control">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <label for="exampleInputEmail1">Password</label>
                                        <input matInput placeholder="Password" id="password" formControlName="password" class="form-control">
                                    </mat-form-field>
                                </div>

                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Create
                                User</button>
                        </form>
                </div>           
        </app-card>
    </div>
</div>