<div class="row">
    <div class="col-md-12">
        <app-card [title]="'Task List'" [cardClass]="" [classHeader]="true">
            <span class="code-header"><span class="text-muted"></span></span>
            <div style="max-width:100%;height:400px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-secondary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of dataTable">
                                <td>
                                  {{group.id}}
                                </td>
                                <td>
                                  {{group.name}}
                                </td>
                                <td>
                                  {{group.type}}
                                </td>
                                <td>
                                  <button (click)="editUser(user.id)" class="btn btn-raised btn-sm btn-success" style="margin:3px;">Edit</button>
                                  <button (click)="DeleteUser(user.id)" class="btn btn-raised btn-sm btn-secondary" style="margin:3px;">Delete</button>
                                </td>
                            </tr>   
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
    </div>
</div>